apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumesafe-backend
  namespace: consumesafe
  labels:
    app: consumesafe-backend
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: consumesafe-backend
  template:
    metadata:
      labels:
        app: consumesafe-backend
    spec:
      securityContext:
        runAsNonRoot: true
        # IMPORTANT: numeric UID/GID fixes the "non-numeric user" error
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: backend
          image: ghcr.io/nadhembenhadjali/consumesafe-backend:59bd3a8
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5050
              name: http
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          env:
            - name: NODE_ENV
              value: "production"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: consumesafe-secrets
                  key: DATABASE_URL
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: consumesafe-secrets
                  key: JWT_SECRET
            - name: CORS_ORIGIN
              valueFrom:
                configMapKeyRef:
                  name: consumesafe-config
                  key: CORS_ORIGIN
          readinessProbe:
            httpGet:
              path: /healthz
              port: 5050
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: 5050
            initialDelaySeconds: 20
            timeoutSeconds: 2
            periodSeconds: 20
            failureThreshold: 3
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: tmp
          emptyDir: {}
