apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumesafe-frontend
  namespace: consumesafe
  labels:
    app: consumesafe-frontend
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: consumesafe-frontend
  template:
    metadata:
      labels:
        app: consumesafe-frontend
    spec:
      securityContext:
        runAsNonRoot: true
        # nginx-unprivileged commonly runs as UID/GID 101
        runAsUser: 101
        runAsGroup: 101
        fsGroup: 101
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: frontend
          image: ghcr.io/nadhembenhadjali/consumesafe-frontend:59bd3a8
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            timeoutSeconds: 2
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 20
            timeoutSeconds: 2
            periodSeconds: 20
            failureThreshold: 3
